.experiencia-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin-bottom: 2rem;
    padding: 10px;
  }


  .experiencia-card > .header {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .experiencia-card > .empresa {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(244, 244, 211);
  }

  
  .experiencia-card > .detail {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .light .experiencia-card{
    background-color: rgba(180, 180, 180, 0.8);
  }

   .light .experiencia-card > .empresa{
    color: rgb(0, 174, 255);
  }