.project-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(180, 180, 180, 0.8);
    border-radius: 20px;
    margin-bottom: 2rem;
  }
  
  .project-card img {
    padding: 10px;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
  }
  .project-card > .header {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .project-card > .header > div {
    padding-right: 10px;
    display: flex;
    gap: 1rem;
  }
  
  .project-card > .header > div > a > img {
    width: 20px;
    height: 20px;
    filter: invert(90%);
    transition: all 0.3s ease-in-out;
  }
  
  .project-card > .header > div > a > img:hover {
    transform: scale(1.1);
  }
  
  .project-card > .detail {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .project-card > .detail > .tech {
    color: var(--highlight);
  }

  .light .project-card{
    background-color: rgba(0, 0, 0, 0.5) ;
  }