.experiencia {
    padding: 0 8rem;
    min-height: 80vh;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  @media (max-width: 770px) {
    .experiencia {
      padding: 0 2rem;
      margin-bottom: 3rem;
    }
  }
  
  .experiencia > h2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1rem;
  }
  
  .experiencia-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 3rem;
  }
  
  @media (max-width: 770px) {
    .experiencia-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }