@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-dark: white;
  --bg-dark: #111111;
  --primary-light: #111111;
  --bg-light: white;
  --highlight: #6cace4;
  --divider: rgb(164, 164, 164);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark);
  color: var(--primary-dark);
  transition: all 0.5s ease-in-out;
  min-height: 100vh;
}

.light {
  background-color: var(--bg-light);
  color: var(--primary-light);
  background-size: cover;
}

main {
  min-height: 80vh;
}

a,
p {
  font-size: 1.1rem;
}

@media (max-width: 800px){
  main{
    position: relative;
    top: 15vh;
  }
}